#라이브러리 전처리

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
import warnings
warnings.filterwarnings('ignore')##경고문무시

#데이터 전처리

##데이터 불러오기

In [ ]:
df = pd.read_csv('train_no_nodam.csv')
df

,집계년월,화재현황,행정구역,독거노인가구수,등록장애인수,인구밀도,소방장비(차량),건물평균연령,평균기온,평균강수량,...,소방대상물,주택수,흡연자수,단독주택가스,교육의료가스,판매가스,기타가스,가스합계,피해액,level
0,2017-01-01,56,강남구,11396,15617,14203,46,23.729300,-1.8,14.9,...,13518,173282,91850.0,15511,2339,24784,806,43440,174610.45420,4
1,2017-02-01,37,강남구,11396,15617,14203,46,23.729300,-0.2,11.1,...,13518,173282,91850.0,17713,2666,30525,946,51850,115367.62150,3
2,2017-03-01,41,강남구,11396,15617,14203,46,23.729300,6.3,7.9,...,13518,173282,91850.0,13376,2286,23512,814,39988,127839.79680,4
3,2017-04-01,46,강남구,11396,15617,14203,46,23.729300,13.9,61.6,...,13518,173282,91516.0,9364,1922,13727,618,25631,143430.01590,4
4,2017-05-01,53,강남구,11396,15617,14203,46,23.729300,19.5,16.1,...,13518,173282,91516.0,4823,1147,7602,363,13935,165256.32270,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2107,2016-08-01,17,중랑구,14184,19882,22474,34,25.283127,28.0,67.1,...,9579,102387,91715.0,1907,172,648,2506,5233,27526.13592,0
2108,2016-09-01,17,중랑구,14184,19882,22474,34,25.283127,23.1,33.0,...,9579,102387,91715.0,1636,112,602,2205,4555,27526.13592,0
2109,2016-10-01,9,중랑구,14184,19882,22474,34,25.283127,16.1,74.8,...,9579,102387,91448.0,2642,142,715,2247,5746,14572.66019,0
2110,2016-11-01,11,중랑구,14184,19882,22474,34,25.283127,6.8,16.7,...,9579,102387,91448.0,6293,298,1255,2299,10145,17811.02913,0
2111,2016-12-01,14,중랑구,14184,19882,22474,34,25.283127,1.2,61.1,...,9579,102387,91448.0,11692,462,2017,2487,16658,22668.58252,0

##결측치 제거 및 타겟값 설정

In [ ]:
df.columns

Index(['집계년월', '화재현황', '행정구역', '독거노인가구수', '등록장애인수', '인구밀도', '소방장비(차량)',
       '건물평균연령', '평균기온', '평균강수량', '평균습도', '평균풍속', '전기사용량(1000kwh)', '의용소방대원',
       '소방대상물', '주택수', '흡연자수', '단독주택가스', '교육의료가스', '판매가스', '기타가스', '가스합계',
       '피해액', 'level'],
      dtype='object')

In [ ]:
def target_make(money):
  if money >= 112249:
    return 3
  elif money >= 49952:
    return 2
  elif money >=  17840:
    return 1
  else:
    return 0

In [ ]:
df['target'] = df['피해액'].apply(target_make)
df.columns

Index(['집계년월', '화재현황', '행정구역', '독거노인가구수', '등록장애인수', '인구밀도', '소방장비(차량)',
       '건물평균연령', '평균기온', '평균강수량', '평균습도', '평균풍속', '전기사용량(1000kwh)', '의용소방대원',
       '소방대상물', '주택수', '흡연자수', '단독주택가스', '교육의료가스', '판매가스', '기타가스', '가스합계',
       '피해액', 'level', 'target'],
      dtype='object')

### 피쳐값과 타겟값 분류

In [ ]:
feature_2 = df.drop(columns = ['가스합계','평균기온','평균습도','target', '행정구역', '피해액', 'level', '화재현황', '행정구역', '기타가스', '판매가스', '교육의료가스', '단독주택가스','평균강수량'])

In [ ]:
feature = df.drop(columns = ['가스합계','평균기온','평균습도','target', '행정구역', '피해액', 'level', '집계년월', '화재현황', '행정구역', '기타가스', '판매가스', '교육의료가스', '단독주택가스','평균강수량'])
# ['화재현황','가스합계','집계년', '행정구역', 'target', '의용소방대원', '단독주택가스', '교육의료가스', '판매가스', '기타가스', '이재민수', '평균풍속', '건물평균연령','평균습도', '평균기온','평균강수량']
target = df['target']
feature.shape,target.shape
feature.columns

Index(['독거노인가구수', '등록장애인수', '인구밀도', '소방장비(차량)', '건물평균연령', '평균풍속',
       '전기사용량(1000kwh)', '의용소방대원', '소방대상물', '주택수', '흡연자수'],
      dtype='object')

In [ ]:
target.value_counts()

1    1037
2     652
3     213
0     210
Name: target, dtype: int64

In [ ]:
feature.head()

,독거노인가구수,등록장애인수,인구밀도,소방장비(차량),건물평균연령,평균풍속,전기사용량(1000kwh),의용소방대원,소방대상물,주택수,흡연자수
0,11396,15617,14203,46,23.7293,2.3,426547,200.0,13518,173282,91850.0
1,11396,15617,14203,46,23.7293,2.5,428437,200.0,13518,173282,91850.0
2,11396,15617,14203,46,23.7293,2.4,372122,200.0,13518,173282,91850.0
3,11396,15617,14203,46,23.7293,2.6,337248,200.0,13518,173282,91516.0
4,11396,15617,14203,46,23.7293,2.4,317631,200.0,13518,173282,91516.0

##데이터 스케일링

### 트레인값만 스케일러에 학습

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(feature, target, test_size=0.20, shuffle=True,stratify = target ,random_state=34)

In [ ]:
len(x_train.columns),len(x_valid.columns)

(11, 11)

### 스케일러 불러오기(RobustScaler)

In [ ]:
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MinMaxScaler

scaler = RobustScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_valid_scaled = scaler.transform(x_valid)

In [ ]:
x_train_scaled.shape,x_valid_scaled.shape

((1689, 11), (423, 11))

#신경망 학습

##학습 전용 라이브러리 불러오기

###배치사이즈가 적을때 효과적인 GroupNormalization 불러오기

In [ ]:
!pip install -U tensorflow-addons

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tensorflow-addons
  Downloading tensorflow_addons-0.17.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 5.4 MB/s
Requirement already satisfied: typeguard>=2.7 in /usr/local/lib/python3.7/dist-packages (from tensorflow-addons) (2.7.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from tensorflow-addons) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->tensorflow-addons) (3.0.9)
Installing collected packages: tensorflow-addons
Successfully installed tensorflow-addons-0.17.1

In [ ]:
import tensorflow_addons as tfa

ModuleNotFoundError: ignored

###keras 에서 신경망 층을 쌓기 위한 라이브러리

In [ ]:
from keras.layers import Input, Dense, BatchNormalization, Dropout
from keras.models import Model

##모델 만들기

In [ ]:
input = Input(shape = (x_train_scaled.shape[1],))
x = Dense(512,activation = 'selu')(input)
x = Dense(256,activation = 'selu')(x)
x = Dropout(0.2)(x)
x = Dense(256,activation = 'selu')(x)
x = Dropout(0.2)(x)
x = Dense(128,activation = 'selu')(x)


x = Dropout(0.2)(x)
x = Dense(128,activation = 'selu')(x)
x = Dense(64,activation = 'selu')(x)
x = Dense(64,activation = 'selu')(x)
x = Dense(32,activation = 'selu')(x)
x = Dense(16,activation = 'selu')(x)
output = Dense(target.nunique(),activation = 'softmax')(x)

model = Model(inputs=input, outputs=output)

In [ ]:
model.summary()

Model: "model_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_4 (InputLayer)        [(None, 12)]              0

 dense_21 (Dense)            (None, 512)               6656

 dense_22 (Dense)            (None, 256)               131328

 dropout_3 (Dropout)         (None, 256)               0

 dense_23 (Dense)            (None, 256)               65792

 dropout_4 (Dropout)         (None, 256)               0

 dense_24 (Dense)            (None, 128)               32896

 dropout_5 (Dropout)         (None, 128)               0

 dense_25 (Dense)            (None, 128)               16512

 dense_26 (Dense)            (None, 64)                8256

 dense_27 (Dense)            (None, 64)                4160

 dense_28 (Dense)            (None, 32)                2080

 dense_29 (Dense)            (None, 16)                528

 dense_30 (Dense)            (None, 4)                 68

=================================================================
Total params: 268,276
Trainable params: 268,276
Non-trainable params: 0
_________________________________________________________________

###모델 CALLBACKS

#### Learning Schedular

In [ ]:
import tensorflow as tf
def step_decay(epoch,lr):
  if epoch < 900:
    return lr
  else:
    return lr * tf.math.exp(-0.05)

schedule = tf.keras.callbacks.LearningRateScheduler(
    schedule =step_decay , verbose=0
)

####모델 체크포인트(최고 성능 모델 저장)

In [ ]:
from keras.callbacks import ModelCheckpoint

filename = './chkpnt/3번째모델/{epoch:04d}.ckpt'
checkpoint = ModelCheckpoint(filename,             # file명을 지정합니다
                             monitor='val_accuracy',   # val_loss 값이 개선되었을때 호출됩니다
                             verbose=1,            # 로그를 출력합니다
                             save_best_only=True,  # 가장 best 값만 저장합니다
                             mode='auto'           # auto는 알아서 best를 찾습니다. min/max
                            )

####모델 컴파일

##### optimizer = Nadam, sgd

In [ ]:
model.compile(optimizer = 'adam',loss = 'sparse_categorical_crossentropy',metrics = ['accuracy'])

NameError: ignored

##모델 시각화

In [ ]:
import tensorflow as tf
from tensorflow.keras.utils import plot_model

plot_model(best_b, to_file='model_shapes.png', show_shapes=True)

NameError: ignored

##모델 학습하기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
model.fit(
    x_train_scaled,y_train,
    validation_data = (x_valid_scaled,y_valid) ,
    batch_size = 3,
    verbose=1,
    epochs = 1000, 
    callbacks = [schedule, checkpoint]
    )

#학습된 모델 이용하여 데이터 분석하기

In [ ]:
##깃허브에서 실행하실때 최고성능 모델의 이름을 load해주시면 됩니다.

In [ ]:
best_b = tf.keras.models.load_model('/content/drive/MyDrive/800모델/0381.ckpt')

In [ ]:
test_loss, test_acc = best_b.evaluate(x_valid_scaled, y_valid)
print(test_acc)

14/14 [==============================] - 0s 3ms/step - loss: 0.5807 - accuracy: 0.8014
0.8014184236526489

In [ ]:
test  = scaler.transform(feature)
test.shape

(2112, 11)

In [ ]:
a = best_b.predict(test)
a

array([[8.5840668e-18, 7.2440515e-10, 4.6449051e-05, 9.9995351e-01],
       [1.3801976e-17, 9.3801256e-10, 5.3115178e-05, 9.9994683e-01],
       [3.2587601e-17, 1.4970292e-09, 6.7698558e-05, 9.9993229e-01],
       ...,
       [5.9026396e-01, 4.0835410e-01, 2.1600359e-04, 1.1659473e-03],
       [5.4740822e-01, 4.5003000e-01, 5.4348318e-04, 2.0183839e-03],
       [5.4081672e-01, 4.5651937e-01, 5.8553903e-04, 2.0783953e-03]],
      dtype=float32)

###모델 예측값으로 라벨링 처리해주기

In [ ]:
def label(int):
  return np.argmax(int)

In [ ]:
temp = feature

In [ ]:
temp['predict'] = pd.Series(list(map(label,a)))
temp

,독거노인가구수,등록장애인수,인구밀도,소방장비(차량),건물평균연령,평균풍속,전기사용량(1000kwh),의용소방대원,소방대상물,주택수,흡연자수,predict
0,11396,15617,14203,46,23.729300,2.3,426547,200.0,13518,173282,91850.0,3
1,11396,15617,14203,46,23.729300,2.5,428437,200.0,13518,173282,91850.0,3
2,11396,15617,14203,46,23.729300,2.4,372122,200.0,13518,173282,91850.0,3
3,11396,15617,14203,46,23.729300,2.6,337248,200.0,13518,173282,91516.0,3
4,11396,15617,14203,46,23.729300,2.4,317631,200.0,13518,173282,91516.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...
2107,14184,19882,22474,34,25.283127,2.1,115504,188.0,9579,102387,91715.0,1
2108,14184,19882,22474,34,25.283127,2.0,101727,188.0,9579,102387,91715.0,0
2109,14184,19882,22474,34,25.283127,2.1,80964,188.0,9579,102387,91448.0,0
2110,14184,19882,22474,34,25.283127,2.2,83543,188.0,9579,102387,91448.0,0
2111,14184,19882,22474,34,25.283127,2.2,91863,188.0,9579,102387,91448.0,0

####지역별로 각 위험도수준인 개월수가 몇개있는지 확인

In [ ]:
temp['행정구역'] = df['행정구역']

In [ ]:
area = temp['행정구역'].value_counts().index

In [ ]:
for i in area:
  print(f'< {i} >\n',temp[temp['행정구역']==i]['predict'].value_counts())

< 강남구 >
 3    78
2    18
Name: predict, dtype: int64
< 강동구 >
 1    87
2     9
Name: predict, dtype: int64
< 종로구 >
 2    55
1    41
Name: predict, dtype: int64
< 은평구 >
 1    62
2    14
3    12
0     8
Name: predict, dtype: int64
< 용산구 >
 1    79
2    11
0     6
Name: predict, dtype: int64
< 영등포구 >
 2    67
1    17
3    12
Name: predict, dtype: int64
< 양천구 >
 1    61
0    22
3    11
2     2
Name: predict, dtype: int64
< 송파구 >
 2    69
1    27
Name: predict, dtype: int64
< 성북구 >
 1    75
2    21
Name: predict, dtype: int64
< 서초구 >
 2    77
1    14
3     5
Name: predict, dtype: int64
< 서대문구 >
 1    47
0    24
2    13
3    12
Name: predict, dtype: int64
< 마포구 >
 1    68
3    16
2    11
0     1
Name: predict, dtype: int64
< 동작구 >
 1    51
0    45
Name: predict, dtype: int64
< 동대문구 >
 2    75
3    12
1     9
Name: predict, dtype: int64
< 도봉구 >
 1    56
2    21
0    19
Name: predict, dtype: int64
< 노원구 >
 1    75
0    12
2     9
Name: predict, dtype: int64
< 구로구 >
 2    65
1    19
3    12
Name: predict, dtype: int64
< 광진구 >
 1    43
2    38
3    15
Name: predict, dtype: int64
< 관악구 >
 2    70
1    26
Name: predict, dtype: int64
< 강서구 >
 1    54
2    39
0     3
Name: predict, dtype: int64
< 강북구 >
 1    80
0    14
2     2
Name: predict, dtype: int64
< 중랑구 >
 1    81
0    15
Name: predict, dtype: int64

## 서대문구를 기준으로 잡고 분석

In [ ]:
target_area = '서대문구'

In [ ]:
area_data = temp[temp['행정구역'] ==target_area]
# area_data

In [ ]:
valis = temp[temp['행정구역']==target_area]['predict'].value_counts().index
sorted(valis)

[0, 1, 2, 3]

In [ ]:
hi = pd.DataFrame()
hi[sorted(valis)] = 0
for i in valis:
  div = area_data[area_data['predict'] ==i]
  hi[i] = div.mean()
hi.columns = ['안전','양호','위험','고위험']
hi.drop(index = 'predict')

                           안전             양호             위험            고위험
독거노인가구수          10013.208333   10665.808511   12339.846154   11331.000000
등록장애인수           12549.791667   12557.978723   12555.692308   12610.000000
인구밀도             18256.333333   18312.617021   18323.000000   18331.000000
소방장비(차량)            32.250000      32.872340      33.923077      33.000000
건물평균연령              27.321722      30.237502      32.203132      30.280056
평균풍속                 2.591667       2.219149       2.346154       1.741667
전기사용량(1000kwh)  101575.833333  102542.297872  101942.230769  105702.000000
의용소방대원             188.541667     182.531915     180.000000     180.000000
소방대상물             4558.125000    6631.702128    6713.153846    6673.000000
주택수              93646.583333   96298.255319  100772.923077   94884.000000
흡연자수             65321.375000   58968.574468   49754.307692   61127.250000

In [ ]:
# hi = pd.DataFrame()
# hi[[0,1,2,3]] = 0
# for i in range(4):
#   div = area_data[area_data['predict'] ==i]
#   hi[i] = div.mean()
# hi

In [ ]:
west2 = temp[temp['행정구역']==target_area]
revise = west2[(west2['predict']==3) | (west2['predict']==2)]
revise

,독거노인가구수,등록장애인수,인구밀도,소방장비(차량),건물평균연령,평균풍속,전기사용량(1000kwh),의용소방대원,소방대상물,주택수,흡연자수,predict,행정구역
1590,10847,17525,25882,43,29.576982,2.0,160538,200.0,6449,145843,78240.0,2,양천구
1596,10130,17508,28196,38,22.576982,2.4,137161,182.0,4896,134097,90228.0,3,양천구
1597,10130,17508,28196,38,22.576982,2.7,132864,182.0,4896,134097,90228.0,3,양천구
1598,10130,17508,28196,38,22.576982,3.0,120110,182.0,4896,134097,90228.0,3,양천구
1599,10130,17508,28196,38,22.576982,2.8,119377,182.0,4896,134097,90014.0,3,양천구
1600,10130,17508,28196,38,22.576982,3.2,112282,182.0,4896,134097,90014.0,3,양천구
1601,10130,17508,28196,38,22.576982,2.6,119540,182.0,4896,134097,90014.0,3,양천구
1602,10130,17508,28196,38,22.576982,2.8,130913,182.0,4896,134097,89518.0,3,양천구
1603,10130,17508,28196,38,22.576982,2.4,142855,182.0,4896,134097,89518.0,2,양천구
1604,10130,17508,28196,38,22.576982,2.1,131968,182.0,4896,134097,89518.0,3,양천구
1605,10130,17508,28196,38,22.576982,2.4,118268,182.0,4896,134097,89308.0,3,양천구
1606,10130,17508,28196,38,22.576982,2.5,115776,182.0,4896,134097,89308.0,3,양천구
1607,10130,17508,28196,38,22.576982,2.8,125376,182.0,4896,134097,89308.0,3,양천구

##변경학습

1.   양천구 흡연자수
2.   서대문구 의용소방대원수

###양천구 흡연자수

In [ ]:
target_area = '양천구'

In [ ]:
yangchun = temp[temp['행정구역']==target_area]
revise = yangchun[(yangchun['predict']==3) | (yangchun['predict']==2)]
revise

,독거노인가구수,등록장애인수,인구밀도,소방장비(차량),건물평균연령,평균풍속,전기사용량(1000kwh),의용소방대원,소방대상물,주택수,흡연자수,predict,행정구역
1590,10847,17525,25882,43,29.576982,2.0,160538,200.0,6449,145843,78240.0,2,양천구
1596,10130,17508,28196,38,22.576982,2.4,137161,182.0,4896,134097,90228.0,3,양천구
1597,10130,17508,28196,38,22.576982,2.7,132864,182.0,4896,134097,90228.0,3,양천구
1598,10130,17508,28196,38,22.576982,3.0,120110,182.0,4896,134097,90228.0,3,양천구
1599,10130,17508,28196,38,22.576982,2.8,119377,182.0,4896,134097,90014.0,3,양천구
1600,10130,17508,28196,38,22.576982,3.2,112282,182.0,4896,134097,90014.0,3,양천구
1601,10130,17508,28196,38,22.576982,2.6,119540,182.0,4896,134097,90014.0,3,양천구
1602,10130,17508,28196,38,22.576982,2.8,130913,182.0,4896,134097,89518.0,3,양천구
1603,10130,17508,28196,38,22.576982,2.4,142855,182.0,4896,134097,89518.0,2,양천구
1604,10130,17508,28196,38,22.576982,2.1,131968,182.0,4896,134097,89518.0,3,양천구
1605,10130,17508,28196,38,22.576982,2.4,118268,182.0,4896,134097,89308.0,3,양천구
1606,10130,17508,28196,38,22.576982,2.5,115776,182.0,4896,134097,89308.0,3,양천구
1607,10130,17508,28196,38,22.576982,2.8,125376,182.0,4896,134097,89308.0,3,양천구

In [ ]:
interval_range = 20 # 단위 학습
## 줄이고 싶은 간격
interval_value = 1000

In [ ]:
vol = pd.DataFrame()
vol[[89789 - ((i-1)*interval_value) for i in range(1,interval_range)]] = 0
vol

Empty DataFrame
Columns: [89789, 88789, 87789, 86789, 85789, 84789, 83789, 82789, 81789, 80789, 79789, 78789, 77789, 76789, 75789, 74789, 73789, 72789, 71789]
Index: []

In [ ]:
vol = pd.DataFrame()
vol[[210 + (i*2) for i in range(1,interval_range)]] = 0

#### 변경된 값들로 예측값 확인(양천구 흡연자수)

In [ ]:
for i in range(1,interval_range):
  tmp = revise
  tmp.loc[:,'흡연자수'] =89789 - ((i-1)*interval_value)
  tmp = tmp.drop(columns = ['predict','행정구역'])
  sca = scaler.transform(tmp)
  prob = best_b.predict(sca)
  vol[89789 - ((i-1)*interval_value)] =  pd.Series(list(map(label,prob)))
vol

,212,214,216,218,220,222,224,226,228,230,...,80789,79789,78789,77789,76789,75789,74789,73789,72789,71789
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2,2,2,1,1,1,1,1,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,1,0,1,1,1,1,1,1,1
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# insi = pd.DataFrame()
# insi[[89789 - ((i-1)*interval_value) for i in range(1,interval_range)]] = 0
# for col in vol.columns:
#   print(f'흡연자수 -> {col}\n',vol[col].value_counts().sort_index()) ##최종 변경값 확인 코드.
## vol에 전체를 넣어줘야한다.

###서대문구 변경학습(의용소방대원수)

In [ ]:
target_area = '서대문구'

In [ ]:
area_data = temp[temp['행정구역'] ==target_area]
# area_data

In [ ]:
rena = hi.rename(columns = {0:'안전',1:'양호',2:'위험',3:'고위험'})

In [ ]:
hi = pd.DataFrame()
hi[sorted(valis)] = 0
for i in valis:
  div = area_data[area_data['predict'] ==i]
  hi[i] = div.mean()
hi

                            0              1              2              3
독거노인가구수          10013.208333   10665.808511   12339.846154   11331.000000
등록장애인수           12549.791667   12557.978723   12555.692308   12610.000000
인구밀도             18256.333333   18312.617021   18323.000000   18331.000000
소방장비(차량)            32.250000      32.872340      33.923077      33.000000
건물평균연령              27.321722      30.237502      32.203132      30.280056
평균풍속                 2.591667       2.219149       2.346154       1.741667
전기사용량(1000kwh)  101575.833333  102542.297872  101942.230769  105702.000000
의용소방대원             188.541667     182.531915     180.000000     180.000000
소방대상물             4558.125000    6631.702128    6713.153846    6673.000000
주택수              93646.583333   96298.255319  100772.923077   94884.000000
흡연자수             65321.375000   58968.574468   49754.307692   61127.250000
predict              0.000000       1.000000       2.000000       3.000000

In [ ]:
interval_value = 2

In [ ]:
west2 = temp[temp['행정구역']==target_area]
revise = west2[(west2['predict']==3) | (west2['predict']==2)]
revise

In [ ]:
vol = pd.DataFrame()
vol[[180 + ((i-1)*interval_value) for i in range(1,11)]] = 0
vol

Empty DataFrame
Columns: [180, 182, 184, 186, 188, 190, 192, 194, 196, 198]
Index: []

#### 변경된 값들로 학습(서대문구 의용소방대원수)

In [ ]:

for i in range(1,11):
  tmp = revise
  tmp.loc[:,'의용소방대원'] =180 + ((i-1)*interval_value)
  tmp = tmp.drop(columns = ['predict','행정구역'])
  sca = scaler.transform(tmp)
  prob = best_b.predict(sca)
  vol[180 + ((i-1)*interval_value)] =  pd.Series(list(map(label,prob)))
vol = vol.replace(3,'고위험')
vol = vol.replace(2,'위험')
vol =vol.replace(1,'양호')
vol = vol.replace(0,'안전')
vol

In [ ]:
feature_2['행정구역'] = df['행정구역']

In [ ]:
feature_2['predict'] = pd.Series(list(map(label,a)))

In [ ]:
west3 = feature_2[feature_2['행정구역']==target_area]
revise = west3[(west3['predict']==3) | (west3['predict']==2)]
revise = revise.set_index('집계년월',drop=True)
revise

,독거노인가구수,등록장애인수,인구밀도,소방장비(차량),건물평균연령,평균풍속,전기사용량(1000kwh),의용소방대원,소방대상물,주택수,흡연자수,행정구역,predict
집계년월,,,,,,,,,,,,,
2018-01-01,11331,12610,18331,33,30.280056,1.9,119018,180.0,6673,94884,61400.0,서대문구,3
2018-02-01,11331,12610,18331,33,30.280056,2.2,115923,180.0,6673,94884,61400.0,서대문구,3
2018-03-01,11331,12610,18331,33,30.280056,1.9,97554,180.0,6673,94884,61400.0,서대문구,3
2018-04-01,11331,12610,18331,33,30.280056,2.0,92274,180.0,6673,94884,61096.0,서대문구,3
2018-05-01,11331,12610,18331,33,30.280056,1.7,89932,180.0,6673,94884,61096.0,서대문구,3
2018-06-01,11331,12610,18331,33,30.280056,1.7,98221,180.0,6673,94884,61096.0,서대문구,3
2018-07-01,11331,12610,18331,33,30.280056,1.5,114247,180.0,6673,94884,60951.0,서대문구,3
2018-08-01,11331,12610,18331,33,30.280056,1.7,143342,180.0,6673,94884,60951.0,서대문구,3
2018-09-01,11331,12610,18331,33,30.280056,1.6,111102,180.0,6673,94884,60951.0,서대문구,3
2018-10-01,11331,12610,18331,33,30.280056,1.5,88956,180.0,6673,94884,61062.0,서대문구,3
2018-11-01,11331,12610,18331,33,30.280056,1.4,92290,180.0,6673,94884,61062.0,서대문구,3
2018-12-01,11331,12610,18331,33,30.280056,1.8,105565,180.0,6673,94884,61062.0,서대문구,3
2019-09-01,12230,12612,18335,33,31.280056,2.2,113419,180.0,6655,97616,55419.0,서대문구,2
2020-01-01,12349,12551,18322,34,32.280056,2.1,111073,180.0,6718,101036,49533.0,서대문구,2
2020-02-01,12349,12551,18322,34,32.280056,2.3,107058,180.0,6718,101036,49533.0,서대문구,2
2020-03-01,12349,12551,18322,34,32.280056,2.5,96498,180.0,6718,101036,49533.0,서대문구,2
2020-04-01,12349,12551,18322,34,32.280056,3.0,89585,180.0,6718,101036,49282.0,서대문구,2
2020-05-01,12349,12551,18322,34,32.280056,2.4,87676,180.0,6718,101036,49282.0,서대문구,2
2020-06-01,12349,12551,18322,34,32.280056,2.3,99631,180.0,6718,101036,49282.0,서대문구,2
2020-07-01,12349,12551,18322,34,32.280056,2.4,107327,180.0,6718,101036,49226.0,서대문구,2
2020-08-01,12349,12551,18322,34,32.280056,2.3,119583,180.0,6718,101036,49226.0,서대문구,2
2020-09-01,12349,12551,18322,34,32.280056,2.5,110680,180.0,6718,101036,49226.0,서대문구,2
2020-10-01,12349,12551,18322,34,32.280056,2.1,87101,180.0,6718,101036,49088.0,서대문구,2
2020-11-01,12349,12551,18322,34,32.280056,2.2,91460,180.0,6718,101036,49088.0,서대문구,2
2020-12-01,12349,12551,18322,34,32.280056,2.2,104158,180.0,6718,101036,49088.0,서대문구,2

####서대문구 전체인구에 따른 변화수

In [ ]:
west2 = temp[temp['행정구역']==target_area]
revise = west2
revise

,독거노인가구수,등록장애인수,인구밀도,소방장비(차량),건물평균연령,평균풍속,전기사용량(1000kwh),의용소방대원,소방대상물,주택수,흡연자수,predict,행정구역
1152,10980,12644,18440,32,29.280056,2.3,109879,180.0,6718,94398,67722.0,1,서대문구
1153,10980,12644,18440,32,29.280056,2.5,109341,180.0,6718,94398,67722.0,1,서대문구
1154,10980,12644,18440,32,29.280056,2.4,97750,180.0,6718,94398,67722.0,1,서대문구
1155,10980,12644,18440,32,29.280056,2.6,92181,180.0,6718,94398,67567.0,1,서대문구
1156,10980,12644,18440,32,29.280056,2.4,89430,180.0,6718,94398,67567.0,1,서대문구
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1243,10482,12626,18506,32,28.280056,2.1,130992,172.0,6837,92788,61029.0,1,서대문구
1244,10482,12626,18506,32,28.280056,2.0,111474,172.0,6837,92788,61029.0,1,서대문구
1245,10482,12626,18506,32,28.280056,2.1,91844,172.0,6837,92788,60937.0,1,서대문구
1246,10482,12626,18506,32,28.280056,2.2,93511,172.0,6837,92788,60937.0,1,서대문구
1247,10482,12626,18506,32,28.280056,2.2,103171,172.0,6837,92788,60937.0,1,서대문구

In [ ]:
for i in range(1,15):
  tmp = revise
  tmp.loc[:,'의용소방대원'] =180 + ((i-1)*interval_value)
  tmp = tmp.drop(columns = ['predict','행정구역'])
  sca = scaler.transform(tmp)
  prob = best_b.predict(sca)
  vol[180 + ((i-1)*interval_value)] =  pd.Series(list(map(label,prob)))
vol

    180  182  184  186  188  190  192  194  196  198  200  202  204  206
0     1    1    1    1    1    1    1    1    0    0    0    0    0    0
1     1    1    1    1    1    1    1    0    0    0    0    0    0    0
2     1    1    1    1    1    1    1    1    1    0    0    0    0    0
3     1    1    1    1    1    1    1    1    1    1    1    0    0    0
4     1    1    1    1    1    1    1    1    1    1    1    1    0    0
5     1    1    1    1    1    1    1    1    1    0    0    0    0    0
6     1    1    1    1    1    1    1    1    1    0    0    0    0    0
7     1    1    1    1    1    1    1    1    1    0    0    0    0    0
8     1    1    1    1    1    1    1    1    1    0    0    0    0    0
9     1    1    1    1    1    1    1    1    1    1    1    1    1    0
10    1    1    1    1    1    1    1    1    1    0    0    0    0    0
11    1    1    1    1    1    1    1    1    1    1    1    0    0    0
12    3    3    3    3    3    3    3    2    1    1    1    0    0    0
13    3    3    3    3    3    3    2    1    1    0    0    0    0    0
14    3    3    3    3    3    3    3    1    1    0    0    0    0    0
15    3    3    3    3    3    3    2    1    1    0    0    0    0    0
16    3    3    3    3    3    3    3    2    1    1    1    1    1    1
17    3    3    3    3    3    3    3    3    1    1    1    1    1    1
18    3    3    3    3    3    3    3    3    3    1    1    1    1    1
19    3    3    3    3    3    3    3    2    2    1    1    1    1    1
20    3    3    3    3    3    3    3    3    2    1    1    1    1    1
21    3    3    3    3    3    3    3    3    2    1    1    1    1    1
22    3    3    3    3    3    3    3    3    3    1    1    1    1    1
23    3    3    3    3    3    3    3    2    1    1    0    0    0    0
24    1    1    1    1    1    1    1    1    1    1    0    0    0    0

In [ ]:
for i in vol.columns:
  print(i,'\n',vol[i].value_counts())

180
 1    13
3    12
Name: 180, dtype: int64
182
 1    13
3    12
Name: 182, dtype: int64
184
 1    13
3    12
Name: 184, dtype: int64
186
 1    13
3    12
Name: 186, dtype: int64
188
 1    13
3    12
Name: 188, dtype: int64
190
 1    13
3    12
Name: 190, dtype: int64
192
 1    13
3    10
2     2
Name: 192, dtype: int64
194
 1    15
3     5
2     4
0     1
Name: 194, dtype: int64
196
 1    18
2     3
0     2
3     2
Name: 196, dtype: int64
198
 1    14
0    11
Name: 198, dtype: int64
200
 0    13
1    12
Name: 200, dtype: int64
202
 0    16
1     9
Name: 202, dtype: int64
204
 0    17
1     8
Name: 204, dtype: int64
206
 0    18
1     7
Name: 206, dtype: int64

###강북구 변경학습

In [ ]:
target_area = '강북구'

In [ ]:

area_data = temp[temp['행정구역'] ==target_area]
# area_data
hi = pd.DataFrame()
valis = temp[temp['행정구역']==target_area]['predict'].value_counts().index
hi[sorted(valis)] = 0
for i in valis:
  div = area_data[area_data['predict'] ==i]
  hi[i] = div.mean()
hi

                           0             1             2
독거노인가구수         16132.214286  14166.637500  13457.000000
등록장애인수          17492.000000  17387.450000  17252.000000
인구밀도            13463.857143  13728.475000  14172.000000
소방장비(차량)           34.285714     33.400000     32.000000
건물평균연령             30.897220     29.281148     26.968648
평균풍속                1.900000      2.313750      3.100000
전기사용량(1000kwh)  69942.071429  77107.137500  71498.500000
의용소방대원            180.000000    175.350000    180.000000
소방대상물            6855.142857   6639.100000   6124.000000
주택수             96360.857143  94724.700000  91806.000000
흡연자수            66226.928571  69714.000000  74247.000000
predict             0.000000      1.000000      2.000000

In [ ]:
north = temp[temp['행정구역']==target_area]
revise = north[(north['predict']==2)]
revise

,독거노인가구수,등록장애인수,인구밀도,소방장비(차량),건물평균연령,평균풍속,전기사용량(1000kwh),의용소방대원,소방대상물,주택수,흡연자수,predict,행정구역
266,13457,17252,14172,32,26.968648,3.1,71605,180.0,6124,91806,74359.0,2,강북구
267,13457,17252,14172,32,26.968648,3.1,71392,180.0,6124,91806,74135.0,2,강북구

####강북구 소방장비(차량)

In [ ]:
interval_value = 1
interval_range = 10
initial_value = 32

In [ ]:
vol = pd.DataFrame()
vol[[32 + ((i-1)*interval_value) for i in range(1,interval_range)]] = 0
vol

Empty DataFrame
Columns: [32, 33, 34, 35, 36, 37, 38, 39, 40]
Index: []

In [ ]:
for i in range(1,interval_range):
  tmp = revise
  tmp.loc[:,'소방장비(차량)'] =initial_value + ((i-1)*interval_value)
  tmp = tmp.drop(columns = ['predict','행정구역'])
  sca = scaler.transform(tmp)
  prob = best_b.predict(sca)
  vol[initial_value + ((i-1)*interval_value)] =  pd.Series(list(map(label,prob)))
vol

   32  33  34  35  36  37  38  39  40
0   2   2   2   1   1   1   1   1   1
1   2   2   2   1   1   1   1   1   1

####강북구 흡연자수

In [ ]:
north_smoking = temp[temp['행정구역']==target_area]
revise = north_smoking[(north_smoking['predict']==2)]
revise

,독거노인가구수,등록장애인수,인구밀도,소방장비(차량),건물평균연령,평균풍속,전기사용량(1000kwh),의용소방대원,소방대상물,주택수,흡연자수,predict,행정구역
266,13457,17252,14172,32,26.968648,3.1,71605,180.0,6124,91806,74359.0,2,강북구
267,13457,17252,14172,32,26.968648,3.1,71392,180.0,6124,91806,74135.0,2,강북구

In [ ]:
interval_value = 1000
interval_range = 15
initial_value = 74247

In [ ]:
vol = pd.DataFrame()
vol[[initial_value - ((i-1)*interval_value) for i in range(1,interval_range)]] = 0
vol

Empty DataFrame
Columns: [74247, 73247, 72247, 71247, 70247, 69247, 68247, 67247, 66247, 65247, 64247, 63247, 62247, 61247]
Index: []

In [ ]:
for i in range(1,interval_range):
  tmp = revise
  tmp.loc[:,'흡연자수'] =initial_value - ((i-1)*interval_value)
  tmp = tmp.drop(columns = ['predict','행정구역'])
  sca = scaler.transform(tmp)
  prob = best_b.predict(sca)
  vol[initial_value - ((i-1)*interval_value)] =  pd.Series(list(map(label,prob)))
vol

,74247,73247,72247,71247,70247,69247,68247,67247,66247,65247,64247,63247,62247,61247
0,2,2,2,2,2,2,2,2,2,2,2,2,2,2
1,2,2,2,2,2,2,2,2,2,2,2,2,2,2

In [ ]:
###강북구는 흡연자수와 관계 x

###도봉구 변경학습

In [ ]:
target_area = '도봉구'
area_data = temp[temp['행정구역'] ==target_area]
# area_data
hi = pd.DataFrame()
valis = temp[temp['행정구역']==target_area]['predict'].value_counts().index
hi[sorted(valis)] = 0
for i in valis:
  div = area_data[area_data['predict'] ==i]
  hi[i] = div.mean()
hi

                            0              1              2
독거노인가구수          12729.052632   11944.482143   12422.714286
등록장애인수           15257.894737   15158.303571   15190.238095
인구밀도             16129.000000   16612.053571   16555.142857
소방장비(차량)            36.736842      35.107143      34.857143
건물평균연령              28.080311      26.397981      26.671790
평균풍속                 2.100000       2.314286       2.304762
전기사용량(1000kwh)   73284.631579   74410.785714   74090.190476
의용소방대원             184.736842     183.535714     180.000000
소방대상물             5423.894737    5256.589286    4872.809524
주택수             106191.684211  104870.160714  104890.904762
흡연자수             62185.684211   69358.446429   55899.047619
predict              0.000000       1.000000       2.000000

In [ ]:
dobong = temp[temp['행정구역']==target_area]
revise = dobong[(dobong['predict']==2)]
revise

,독거노인가구수,등록장애인수,인구밀도,소방장비(차량),건물평균연령,평균풍속,전기사용량(1000kwh),의용소방대원,소방대상물,주택수,흡연자수,predict,행정구역
792,13407,15450,16245,35,28.290838,1.8,84271,180.0,5624,106641,53393.0,2,도봉구
793,13407,15450,16245,35,28.290838,1.8,80263,180.0,5624,106641,53393.0,2,도봉구
794,13407,15450,16245,35,28.290838,2.1,67823,180.0,5624,106641,53393.0,2,도봉구
795,13407,15450,16245,35,28.290838,1.9,69293,180.0,5624,106641,53223.0,2,도봉구
796,13407,15450,16245,35,28.290838,2.1,63330,180.0,5624,106641,53223.0,2,도봉구
798,13407,15450,16245,35,28.290838,1.8,73759,180.0,5624,106641,53002.0,2,도봉구
800,13407,15450,16245,35,28.290838,2.2,79525,180.0,5624,106641,53002.0,2,도봉구
801,13407,15450,16245,35,28.290838,2.1,65350,180.0,5624,106641,52694.0,2,도봉구
802,13407,15450,16245,35,28.290838,2.2,66274,180.0,5624,106641,52694.0,2,도봉구
803,13407,15450,16245,35,28.290838,2.1,74845,180.0,5624,106641,52694.0,2,도봉구
804,13980,15436,15852,38,29.290838,2.1,80508,180.0,5661,107156,62030.0,2,도봉구
815,13980,15436,15852,38,29.290838,2.2,73697,180.0,5661,107156,60889.0,2,도봉구
840,10983,14847,17056,34,24.290838,2.6,85795,180.0,3863,102443,57910.0,2,도봉구
841,10983,14847,17056,34,24.290838,2.9,82463,180.0,3863,102443,57910.0,2,도봉구
842,10983,14847,17056,34,24.290838,3.1,70780,180.0,3863,102443,57910.0,2,도봉구
843,10983,14847,17056,34,24.290838,3.1,71442,180.0,3863,102443,57906.0,2,도봉구
844,10983,14847,17056,34,24.290838,3.0,65219,180.0,3863,102443,57906.0,2,도봉구
847,10983,14847,17056,34,24.290838,2.4,84815,180.0,3863,102443,57776.0,2,도봉구
848,10983,14847,17056,34,24.290838,2.3,76605,180.0,3863,102443,57776.0,2,도봉구
849,10983,14847,17056,34,24.290838,2.3,65211,180.0,3863,102443,57578.0,2,도봉구
851,10983,14847,17056,34,24.290838,2.3,74626,180.0,3863,102443,57578.0,2,도봉구

####도봉구 의용소방대원

In [ ]:
interval_value = 2
interval_range = 20
initial_value = 180

In [ ]:
vol = pd.DataFrame()
vol[[initial_value + ((i-1)*interval_value) for i in range(1,interval_range)]] = 0

In [ ]:
for i in range(1,interval_range):
  tmp = revise
  tmp.loc[:,'의용소방대원'] =initial_value + ((i-1)*interval_value)
  tmp = tmp.drop(columns = ['predict','행정구역'])
  sca = scaler.transform(tmp)
  prob = best_b.predict(sca)
  vol[initial_value + ((i-1)*interval_value)] =  pd.Series(list(map(label,prob)))
vol

,180,182,184,186,188,190,192,194,196,198,200,202,204,206,208,210,212,214,216
0,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1
1,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1
2,2,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1
3,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1,1,1
4,2,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1
5,2,2,2,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,2
6,2,2,2,2,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1
7,2,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1
8,2,2,2,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1
9,2,2,2,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1
10,2,2,2,2,2,2,2,1,1,1,1,1,1,1,1,0,0,0,0
11,2,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1,0,0,0
12,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
13,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
14,2,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1
15,2,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1
16,2,2,2,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1
17,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1
18,2,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1
19,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1,1
20,2,2,2,2,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1

###서초구 변경학습

In [ ]:
target_area = '서초구'
area_data = temp[temp['행정구역'] ==target_area]
# area_data
hi = pd.DataFrame()
valis = temp[temp['행정구역']==target_area]['predict'].value_counts().index
hi[sorted(valis)] = 0
for i in valis:
  div = area_data[area_data['predict'] ==i]
  hi[i] = div.mean()
hi

                            1              2              3
독거노인가구수           8222.000000    8841.246753    8684.000000
등록장애인수           10416.500000   10718.493506   10945.000000
인구밀도              8995.000000    9418.974026    9601.000000
소방장비(차량)            45.500000      42.051948      41.000000
건물평균연령              27.124273      23.741156      21.624273
평균풍속                 2.192857       2.244156       2.880000
전기사용량(1000kwh)  265771.214286  283376.597403  264410.200000
의용소방대원             220.000000     199.116883     220.000000
소방대상물             9160.500000    8959.909091    8328.000000
주택수             134349.500000  129786.649351  125403.000000
흡연자수             49957.285714   64811.727273   74577.000000
predict              1.000000       2.000000       3.000000

In [ ]:
seocho = temp[temp['행정구역']==target_area]
revise = seocho[(seocho['predict']==3)]
revise

,독거노인가구수,등록장애인수,인구밀도,소방장비(차량),건물평균연령,평균풍속,전기사용량(1000kwh),의용소방대원,소방대상물,주택수,흡연자수,predict,행정구역
1322,8684,10945,9601,41,21.624273,3.1,268733,220.0,8328,125403,74838.0,3,서초구
1323,8684,10945,9601,41,21.624273,3.1,264267,220.0,8328,125403,74530.0,3,서초구
1324,8684,10945,9601,41,21.624273,3.0,251430,220.0,8328,125403,74530.0,3,서초구
1325,8684,10945,9601,41,21.624273,2.5,280350,220.0,8328,125403,74530.0,3,서초구
1330,8684,10945,9601,41,21.624273,2.7,257271,220.0,8328,125403,74457.0,3,서초구

####서초구 등록장애인수,

In [ ]:
interval_value = -20
interval_range = 20
initial_value = 10945

In [ ]:
vol = pd.DataFrame()
vol[[initial_value + ((i-1)*interval_value) for i in range(1,interval_range)]] = 0
vol

Empty DataFrame
Columns: [10945, 10925, 10905, 10885, 10865, 10845, 10825, 10805, 10785, 10765, 10745, 10725, 10705, 10685, 10665, 10645, 10625, 10605, 10585]
Index: []

In [ ]:
for i in range(1,interval_range):
  tmp = revise
  tmp.loc[:,'등록장애인수'] =initial_value + ((i-1)*interval_value)
  tmp = tmp.drop(columns = ['predict','행정구역'])
  sca = scaler.transform(tmp)
  prob = best_b.predict(sca)
  vol[initial_value + ((i-1)*interval_value)] =  pd.Series(list(map(label,prob)))
vol

,10945,10925,10905,10885,10865,10845,10825,10805,10785,10765,10745,10725,10705,10685,10665,10645,10625,10605,10585
0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
1,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
4,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3

####서초구 소방장비(차량)

In [ ]:
seocho_fire = temp[temp['행정구역']==target_area]
revise = seocho_fire[(seocho_fire['predict']==3)]

In [ ]:
interval_value = 1
interval_range = 15
initial_value = 41

In [ ]:
vol = pd.DataFrame()
vol[[initial_value + ((i-1)*interval_value) for i in range(1,interval_range)]] = 0
vol

Empty DataFrame
Columns: [41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]
Index: []

In [ ]:
for i in range(1,interval_range):
  tmp = revise
  tmp.loc[:,'소방장비(차량)'] =initial_value + ((i-1)*interval_value)
  tmp = tmp.drop(columns = ['predict','행정구역'])
  sca = scaler.transform(tmp)
  prob = best_b.predict(sca)
  vol[initial_value + ((i-1)*interval_value)] =  pd.Series(list(map(label,prob)))
vol

   41  42  43  44  45  46  47  48  49  50  51  52  53  54
0   3   3   3   2   2   2   2   2   2   2   1   1   1   1
1   3   3   3   2   2   2   2   2   2   1   1   1   1   1
2   3   3   3   2   2   2   1   1   1   1   1   1   1   1
3   3   3   3   2   2   2   2   1   1   1   1   1   1   1
4   3   3   3   2   2   1   1   1   1   1   1   1   1   1