# 인구데이터 취합 전처리
- 인구데이터: https://data.seoul.go.kr/dataList/10727/S/2/datasetView.do

In [1]:
import pandas as pd

popul_df=pd.read_csv('./data/seoul_population_1422.csv', encoding='utf-8')
popul_df.head(20)

,동별,연령별,항목,단위,2014.1.4,2014.2.4,2014.3.4,2014.4.4,2015.1.4,2015.2.4,...,2020.1.4,2020.2.4,2020.3.4,2020.4.4,2021.1.4,2021.2.4,2021.3.4,2021.4.4,2022.1.4,2022.2.4
0,합계,계,계,NaN,10385494,10383651,10386339,10369593,10369067,10349492,...,10013781,9985652,9953009,9911088,9828094,9795426,9765869,9736027,9732617,9725417
1,합계,계,한국인,NaN,10141727,10129223,10122661,10103233,10100987,10078850,...,9733655,9720846,9699232,9668465,9598484,9565990,9542256,9509458,9506778,9494807
2,합계,계,외국인,NaN,243767,254428,263678,266360,268080,270642,...,280126,264806,253777,242623,229610,229436,223613,226569,225839,230610
3,합계,0~4세,계,NaN,411364,411546,411735,411132,408014,407847,...,300471,292868,285083,277293,267210,261426,255013,250044,243540,240026
4,합계,0~4세,한국인,NaN,406318,405932,405564,404369,401871,401162,...,293552,285920,278246,270481,261993,256117,249704,244538,239136,235401
5,합계,0~4세,외국인,NaN,5046,5614,6171,6763,6143,6685,...,6919,6948,6837,6812,5217,5309,5309,5506,4404,4625
6,합계,5~9세,계,NaN,400229,397586,395676,393451,392448,392641,...,368576,367054,363986,359387,355476,352673,349581,345196,339987,335170
7,합계,5~9세,한국인,NaN,396544,393942,391970,389623,387999,388210,...,361582,360318,357587,353264,349007,346409,343463,339145,334035,329338
8,합계,5~9세,외국인,NaN,3685,3644,3706,3828,4449,4431,...,6994,6736,6399,6123,6469,6264,6118,6051,5952,5832
9,합계,10~14세,계,NaN,477822,471086,465462,459224,448007,439027,...,374560,374594,374601,375617,375140,374251,373630,372040,371807,370568
10,합계,10~14세,한국인,NaN,475599,468908,463214,456867,445615,436602,...,370250,370357,370546,371652,370916,370085,369513,367879,367447,366430
11,합계,10~14세,외국인,NaN,2223,2178,2248,2357,2392,2425,...,4310,4237,4055,3965,4224,4166,4117,4161,4360,4138
12,합계,15~19세,계,NaN,610852,604092,599901,594242,588915,584279,...,445921,435678,426696,416854,406739,400977,397132,394566,393705,391755
13,합계,15~19세,한국인,NaN,606907,599775,594249,587646,584241,578912,...,440099,430020,420917,410214,402828,396487,392355,388257,389156,386555
14,합계,15~19세,외국인,NaN,3945,4317,5652,6596,4674,5367,...,5822,5658,5779,6640,3911,4490,4777,6309,4549,5200
15,합계,20~24세,계,NaN,717497,722578,729389,727181,728790,727690,...,686152,679209,673343,666221,655516,650630,645182,638174,634470,632552
16,합계,20~24세,한국인,NaN,694581,699883,702724,701179,704002,703530,...,643205,642527,638060,630115,623888,617638,613118,603077,602051,596325
17,합계,20~24세,외국인,NaN,22916,22695,26665,26002,24788,24160,...,42947,36682,35283,36106,31628,32992,32064,35097,32419,36227
18,합계,25~29세,계,NaN,800032,799125,796655,793943,790795,790650,...,851977,853920,855604,858648,856229,855400,851617,847622,846741,848459
19,합계,25~29세,한국인,NaN,763536,762170,759533,756772,754260,753785,...,818007,822973,826385,830296,826537,825570,823305,819200,815921,816397

In [2]:
# 통합데이터 columns name
popul_df.rename(columns={'2017.1.4':'2017.1.1', '2017.2.4':'2017.4.1',
                         '2017.3.4':'2017.7.1', '2017.4.4':'2017.10.1',
                         '2018.1.4':'2018.1.1', '2018.2.4':'2018.4.1',
                         '2018.3.4':'2018.7.1', '2018.4.4':'2018.10.1',
                         '2019.1.4':'2019.1.1', '2019.2.4':'2019.4.1',
                         '2019.3.4':'2019.7.1', '2019.4.4':'2019.10.1',
                         '2020.1.4':'2020.1.1', '2020.2.4':'2020.4.1',
                         '2020.3.4':'2020.7.1', '2020.4.4':'2020.10.1',
                         '2021.1.4':'2021.1.1', '2021.2.4':'2021.4.1',
                         '2021.3.4':'2021.7.1', '2021.4.4':'2021.10.1',
                         '2022.1.4':'2022.1.1', '2022.2.4':'2022.4.1',
                         '2014.1.4':'2014.1.1', '2014.2.4':'2014.4.1',
                         '2014.3.4':'2014.7.1', '2014.4.4':'2014.10.1',
                         '2015.1.4':'2015.1.1', '2015.2.4':'2015.4.1',
                         '2015.3.4':'2015.7.1', '2015.4.4':'2015.10.1',
                         '2016.1.4':'2016.1.1', '2016.2.4':'2016.4.1',
                         '2016.3.4':'2016.7.1', '2016.4.4':'2016.10.1',
                         
                        },
                           inplace=True)

In [20]:
# 통합데이터 sample
# sample_df = pd.read_csv('14~16년도 각자 데이터 채우기.csv', encoding='cp949')
sample_df = pd.read_csv('fire_total_nodamZone_Ver01.csv', encoding='utf-8') # 샘플 + 금연구역 데이터
sample_df.tail(4)

,Unnamed: 0,Column1,집계년월,화재현황,행정구역,wood,usage,독거노인가구수,등록장애인수,인구밀도,...,건물평균연령,평균기온,평균강수량,평균습도,평균풍속,전기사용량(1000kwh),의용소방대원,소방대상물,주택수,nodamZone
2469,2469,2469.0,2016.10.1,NaN,중랑구,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,287.0
2470,2470,2470.0,2016.11.1,NaN,중랑구,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,287.0
2471,2471,2471.0,2016.12.1,NaN,중랑구,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,287.0
2472,2472,NaN,NaN,NaN,금천구,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,426.0

In [4]:
popul_simple_df = popul_df.iloc[66:,:]
popul_simple_df.tail()

,동별,연령별,항목,단위,2014.1.1,2014.4.1,2014.7.1,2014.10.1,2015.1.1,2015.4.1,...,2020.1.1,2020.4.1,2020.7.1,2020.10.1,2021.1.1,2021.4.1,2021.7.1,2021.10.1,2022.1.1,2022.4.1
1711,강동구,95~99세,한국인,NaN,235,244,255,263,261,261,...,367,379,372,379,360,363,363,342,366,371
1712,강동구,95~99세,외국인,NaN,1,1,1,1,1,1,...,-,-,-,-,-,-,-,-,-,0
1713,강동구,100세 이상,계,NaN,160,164,164,166,173,177,...,241,242,252,256,117,120,124,81,80,79
1714,강동구,100세 이상,한국인,NaN,159,163,163,165,172,176,...,240,241,251,255,116,119,123,80,79,78
1715,강동구,100세 이상,외국인,NaN,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [5]:
totalPopul_df = popul_simple_df[(popul_simple_df['항목'] == '계') & (popul_simple_df['연령별'] == '계')]
totalPopul_df.drop(columns=['연령별', '항목', '단위'], inplace=True)

In [6]:
oldAge_df = popul_simple_df[(popul_simple_df['항목'] == '계') & ((popul_simple_df['연령별'] == '70~74세') |
                           (popul_simple_df['연령별'] == '75~79세') | (popul_simple_df['연령별'] == '80~84세') |
                           (popul_simple_df['연령별'] == '85~89세') | (popul_simple_df['연령별'] == '90~94세') |
                           (popul_simple_df['연령별'] == '95~99세') | (popul_simple_df['연령별'] == '100세 이상'))]
oldAge_df.drop(columns=['연령별', '항목', '단위'], inplace=True)

In [7]:
oldAge_df_tmp = pd.DataFrame(index = oldAge_df['동별'].unique(), columns=oldAge_df.columns[1:])
oldAge_df_tmp.head(3)

,2014.1.1,2014.4.1,2014.7.1,2014.10.1,2015.1.1,2015.4.1,2015.7.1,2015.10.1,2016.1.1,2016.4.1,...,2020.1.1,2020.4.1,2020.7.1,2020.10.1,2021.1.1,2021.4.1,2021.7.1,2021.10.1,2022.1.1,2022.4.1
종로구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
중구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
용산구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
oldAge_df_tmp.index

Index(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구',
       '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구',
       '관악구', '서초구', '강남구', '송파구', '강동구'],
      dtype='object')

In [9]:
# 70~ 100세 이상 합
oldAge_df.iloc[:,1:] = oldAge_df.iloc[:,1:].astype('int64')

for i in range(len(oldAge_df_tmp.index)):
    oldAge_df_tmp.loc[oldAge_df_tmp.index[i]] = oldAge_df[oldAge_df['동별'] == oldAge_df_tmp.index[i]].iloc[:,1:].sum()

oldAge_df = oldAge_df_tmp.reset_index().rename(columns={'index':'동별'})
oldAge_df.head()

,동별,2014.1.1,2014.4.1,2014.7.1,2014.10.1,2015.1.1,2015.4.1,2015.7.1,2015.10.1,2016.1.1,...,2020.1.1,2020.4.1,2020.7.1,2020.10.1,2021.1.1,2021.4.1,2021.7.1,2021.10.1,2022.1.1,2022.4.1
0,종로구,16509,16560,16707,16789,16974,17082,17153,17133,17226,...,19774,19830,19900,19938,19136,18862,18909,18864,19029,19124
1,중구,13182,13281,13373,13469,13610,13667,13726,13722,13808,...,16338,16519,16686,16826,16880,16114,16183,16187,16464,16667
2,용산구,23494,23595,23751,23928,24195,24365,24490,24492,24634,...,27668,27750,27917,28002,27239,26508,26361,26298,26542,26658
3,성동구,23458,23662,23918,24045,24358,24698,24931,25036,25284,...,30139,30328,30496,30609,30636,30266,30354,30392,30735,30957
4,광진구,23969,24337,24533,24707,25064,25364,25565,25665,25966,...,32178,32415,32638,32857,32364,32570,32674,32818,33381,33832

In [10]:
col = ['2017.1.4', '2017.2.4', '2017.3.4', '2017.4.4', '2018.1.4',
       '2018.2.4', '2018.3.4', '2018.4.4', '2019.1.4', '2019.2.4', '2019.3.4',
       '2019.4.4', '2020.1.4', '2020.2.4', '2020.3.4', '2020.4.4', '2021.1.4',
       '2021.2.4', '2021.3.4', '2021.4.4', '2022.1.4', '2022.2.4']

In [11]:
totalPopul_df.head()

,동별,2014.1.1,2014.4.1,2014.7.1,2014.10.1,2015.1.1,2015.4.1,2015.7.1,2015.10.1,2016.1.1,...,2020.1.1,2020.4.1,2020.7.1,2020.10.1,2021.1.1,2021.4.1,2021.7.1,2021.10.1,2022.1.1,2022.4.1
66,종로구,167350,166665,166200,165344,165240,164291,164499,163822,163993,...,161984,160520,159842,158996,156567,155106,154318,153789,153684,153255
132,중구,137466,137122,136773,136227,136063,135200,134828,134329,134436,...,136469,136030,135321,134635,133708,132259,131943,131787,131450,131673
198,용산구,251651,250922,249930,249914,250003,249517,248859,247909,247297,...,246165,245362,244953,244645,243336,240665,238300,237285,236518,236632
264,성동구,306597,306692,305752,303891,303777,305969,306384,305065,304565,...,307193,304851,302695,300505,298421,295767,294140,292672,291609,290664
330,광진구,381017,380146,379408,377375,377204,376620,375951,375180,374798,...,365990,363925,361923,360109,356191,355306,353380,352627,353110,352796

In [12]:
# 통합데이터에 merge 하기위한 함수
def fd_precessing(df, col_name):
    
    df.rename(columns = {'동별':'행정구역'}, inplace=True)
    df = df.set_index('행정구역')

    concatVar = []

    for i in range(len(df.columns)):
        globals()[f'sp_df_{i}']=df.iloc[:,i:i+1]
        concatVar.append(globals()[f'sp_df_{i}'])
        concatVar[i].reset_index(inplace=True)
        concatVar[i]['집계년월'] = concatVar[i].columns[1]
        concatVar[i].rename(columns={concatVar[i].columns[1] : col_name}, inplace=True)


    return pd.concat(concatVar, axis=0)

In [13]:
totalPopul_df = fd_precessing(totalPopul_df, 'totalPopul')
totalPopul_df

   행정구역 totalPopul      집계년월
0   종로구     167350  2014.1.1
1    중구     137466  2014.1.1
2   용산구     251651  2014.1.1
3   성동구     306597  2014.1.1
4   광진구     381017  2014.1.1
..  ...        ...       ...
20  관악구     500841  2022.4.1
21  서초구     411515  2022.4.1
22  강남구     536710  2022.4.1
23  송파구     668638  2022.4.1
24  강동구     465496  2022.4.1

[850 rows x 3 columns]

In [14]:
oldAgePopul_df = fd_precessing(oldAge_df, 'oldAgePopul')
oldAgePopul_df.head()

  행정구역 oldAgePopul      집계년월
0  종로구       16509  2014.1.1
1   중구       13182  2014.1.1
2  용산구       23494  2014.1.1
3  성동구       23458  2014.1.1
4  광진구       23969  2014.1.1

In [15]:
population_df = pd.merge(totalPopul_df[totalPopul_df['행정구역'] != '금천구'], oldAgePopul_df[oldAgePopul_df['행정구역'] != '금천구'], how='outer', on=['집계년월', '행정구역'])
# population_df.to_csv('fire_total_popul_test.csv')
population_df

    행정구역 totalPopul      집계년월 oldAgePopul
0    종로구     167350  2014.1.1       16509
1     중구     137466  2014.1.1       13182
2    용산구     251651  2014.1.1       23494
3    성동구     306597  2014.1.1       23458
4    광진구     381017  2014.1.1       23969
..   ...        ...       ...         ...
811  관악구     500841  2022.4.1       54264
812  서초구     411515  2022.4.1       39821
813  강남구     536710  2022.4.1       51604
814  송파구     668638  2022.4.1       61747
815  강동구     465496  2022.4.1       46724

[816 rows x 4 columns]

In [16]:
fire_total_popul_Ver = pd.merge(sample_df, population_df, how='outer', on=['집계년월', '행정구역'])
fire_total_popul_Ver.head()

,Unnamed: 0,Column1,집계년월,화재현황,행정구역,wood,usage,독거노인가구수,등록장애인수,인구밀도,...,평균강수량,평균습도,평균풍속,전기사용량(1000kwh),의용소방대원,소방대상물,주택수,nodamZone,totalPopul,oldAgePopul
0,0,0.0,2017.1.1,56.0,강남구,27.0,6732.0,10335.0,15200.0,13651.0,...,14.9,55.0,2.3,426547.0,200.0,13518.0,173282.0,425.0,570500,39878
1,1,1.0,2017.2.1,37.0,강남구,27.0,6732.0,10335.0,15200.0,13651.0,...,11.1,54.0,2.5,428437.0,200.0,13518.0,173282.0,425.0,NaN,NaN
2,2,2.0,2017.3.1,41.0,강남구,27.0,6732.0,10335.0,15200.0,13651.0,...,7.9,48.0,2.4,372122.0,200.0,13518.0,173282.0,425.0,NaN,NaN
3,3,3.0,2017.4.1,46.0,강남구,27.0,6732.0,10335.0,15200.0,13651.0,...,61.6,52.0,2.6,337248.0,200.0,13518.0,173282.0,425.0,568425,40354
4,4,4.0,2017.5.1,53.0,강남구,27.0,6732.0,10335.0,15200.0,13651.0,...,16.1,52.0,2.4,317631.0,200.0,13518.0,173282.0,425.0,NaN,NaN

In [17]:
fire_total_popul_Ver['totalPopul'] = fire_total_popul_Ver['totalPopul'].fillna(method='ffill')
fire_total_popul_Ver['oldAgePopul'] = fire_total_popul_Ver['oldAgePopul'].fillna(method='ffill')

In [18]:
fire_total_popul_Ver

,Unnamed: 0,Column1,집계년월,화재현황,행정구역,wood,usage,독거노인가구수,등록장애인수,인구밀도,...,평균강수량,평균습도,평균풍속,전기사용량(1000kwh),의용소방대원,소방대상물,주택수,nodamZone,totalPopul,oldAgePopul
0,0,0.0,2017.1.1,56.0,강남구,27.0,6732.0,10335.0,15200.0,13651.0,...,14.9,55.0,2.3,426547.0,200.0,13518.0,173282.0,425.0,570500,39878
1,1,1.0,2017.2.1,37.0,강남구,27.0,6732.0,10335.0,15200.0,13651.0,...,11.1,54.0,2.5,428437.0,200.0,13518.0,173282.0,425.0,570500,39878
2,2,2.0,2017.3.1,41.0,강남구,27.0,6732.0,10335.0,15200.0,13651.0,...,7.9,48.0,2.4,372122.0,200.0,13518.0,173282.0,425.0,570500,39878
3,3,3.0,2017.4.1,46.0,강남구,27.0,6732.0,10335.0,15200.0,13651.0,...,61.6,52.0,2.6,337248.0,200.0,13518.0,173282.0,425.0,568425,40354
4,4,4.0,2017.5.1,53.0,강남구,27.0,6732.0,10335.0,15200.0,13651.0,...,16.1,52.0,2.4,317631.0,200.0,13518.0,173282.0,425.0,568425,40354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2468,2468,2468.0,2016.9.1,NaN,중랑구,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,287.0,416887,35452
2469,2469,2469.0,2016.10.1,NaN,중랑구,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,287.0,415677,35904
2470,2470,2470.0,2016.11.1,NaN,중랑구,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,287.0,415677,35904
2471,2471,2471.0,2016.12.1,NaN,중랑구,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,287.0,415677,35904
2472,2472,NaN,NaN,NaN,금천구,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,426.0,415677,35904

In [19]:
fire_total_popul_Ver.to_csv('fire_total_popul_nodam_Ver02.csv', encoding="utf-8-sig")